stages:
    - deploy

deploy:
    stage: deploy
    tags:
        - runner-1
    script:
        - ssh -i ~/.ssh/id_rsa buser@192.168.1.2 " docker rm -f cg-site && cd /home/buser/cg-site/app  && git pull  && docker build -t cg-site . && docker run -d -p 80:80 -p 443:443 -v public:/var/www/html/public/  --network=my-net --env-file ~/cg-site/config/.env.prod.local --name cg-site cg-site "
    only:
        - master
