<h1>Bonjour&nbsp;!</h1>

<p>Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant&nbsp;:</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cordialement&nbsp;!</p>
