{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid my-5">

        <h1>Qu'est ce que vous faites là ?</h1>

        <p>
            Ouste ! Allez jouer ailleurs !
            Nous vous suggérons de retourner sur <a href="{{ path('app_home') }}">la page d'accueil</a>. Il n'y a rien ici, de toute façon.
        </p>
    </div>
{% endblock %}
